.use-keyboard-input {
    display: block;
    width: 90%;
    margin: 30px auto;
    padding: 10px;
    font-size: 20px;
    height: calc(100vh - 380px);
    min-height: 300px;
  }
  
  .keyboard {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 5px 0;
    background: #D5BCA2;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
    user-select: none;
    border-radius: 15px;
    transition: bottom 0.4s;
  }
  
  .keyboard--hidden {
    bottom: -100%;
  }
  
  .keyboard__keys {
    text-align: center;
  }
  
  .keyboard__key {
    height: 45px;
    width: 6%;
    max-width: 90px;
    margin: 3px;
    border-radius: 10px;
    border: none;
    background: #353535;
    color: #ffffff;
    box-shadow: 0px 5px 0px rgba(0, 0, 0, 0.2);
    font-size: 1.05rem;
    outline: none;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: top;
    padding: 0;
    -webkit-tap-highlight-color: transparent;
    position: relative;
  }
  
  .keyboard__key:active {
    cursor: pointer;
    box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.2);
    transform: translateY(2px);
  }
  
  .keyboard__key--button--active {
    cursor: pointer;
    box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.2);
    transform: translateY(2px);
    background: rgba(180, 252, 248, 0.5);
    
  }

  .keyboard__key--wide {
    width: 12%;
  }
  
  .keyboard__key--extra-wide {
    width: 36%;
    max-width: 500px;
  }
  
  .keyboard__key--activatable::after {
    content: '';
    top: 10px;
    right: 10px;
    position: absolute;
    width: 8px;
    height: 8px;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 50%;
  }

  .keyboard__key--activatable--red::after {
    content: '';
    top: 10px;
    right: 10px;
    position: absolute;
    width: 8px;
    height: 8px;
    background:rgba(0, 0, 0, 0.4);
    border-radius: 50%;
  }
  
  .keyboard__key--activatable--red::after {
    background: rgb(190, 7, 7);
  }

  .keyboard__key--active::after {
    background: #08ff00;
  }
  
  .keyboard__key--dark {
    background: rgba(0, 0, 0, 0.75);
  }

  .keyboard__key--light {
    background: rgba(0, 0, 0, 0.6);
  }
  
  @media screen and (max-width: 768px) {
    .keyboard__key {
      height: 40px;
    }

    .keyboard__key--extra-wide {
      width: 35%;
    }
    .keyboard__key--wide {
      width: 10%;
    }

    .keyboard__key--activatable--red::after {
      top: 5px;
      right: 5px;
    }
}

@media screen and (max-width: 600px) {
  .keyboard__key {
    margin: 2px;
  }

  .keyboard__key--activatable::after {
    top: 7px;
    right: 7px;
  }
  .keyboard__key--activatable--red::after {
    top: 4px;
    right: 4px;
  }
}